
body {
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-size: 40px;
  line-height: 1.5;

  background-color: darkseagreen;
}

/* Select all h1, h2, ..., h6 tags */
h1, h2, h3, h4, h5, h6 {
  font-family:'Pacifico',cursive;
}

/* Select the element with id="page" */
#page {
  width: 600px;
  margin: 0 auto;
}

/* Select all <pre> tags */
pre {
  /* Remove leading whitespace from inside <pre> tags */
  white-space: pre-line;
}

pre code {
  white-space: pre-line;
}
