  body{
    background-color: rgb(117, 138, 97);
  }
  .plantContainer {
    display: grid;
    grid-template-rows: auto;
    background-color: rgb(155, 199, 155);
    /* padding-left: 400px; */
  }
  /* Dropdown Button */
  
.dropbtn {
  background-color: #255a23;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  width:100px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(121, 187, 121, 0.705);
  z-index: 5;
  /*overflow:auto;*/
  
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(140, 206, 144);
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  width: 69px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.dropbtn:hover{
background-color: rgb(170, 236, 175);


}
/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {background-color: #3e3f8e;}*/
.aboutbutton{
    background-color: #80c760; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  img{
    width: 200px;
    height: 200px;
  }
  .one {
    grid-column: 1 ;
    grid-row: 1;
    border: none;
    text-align: right;
    border-right: none;
    margin-right: 5px;
    font-family: 'Patrick Hand', cursive;
  }
  .space{
  border: none;
  border-left: 0px;
  text-align: left;
  font-family: 'Patrick Hand', cursive;
  }
  .space1{
    border: none;
    border-right: 0px;
    margin-left: 5px;
  }
  .two {
    grid-column: 4;
    grid-row: 1;
    border: none
    text-align: center;
    margin-left: 5px;
    border-left: 0px;
    border-right: none;
    margin-right: 5px;
    font-family: 'Patrick Hand', cursive;
  }
  .space2{
    border: none;
    border-left: 0px;
  }
  .three {
    grid-column: 1;
    grid-row: 2;
    border: solid darkslategray 2px;
    border-right: 0px;
    font-family: 'Patrick Hand', cursive;
  }
  .four {
    grid-column: 2;
    grid-row: 2;
    border: solid darkslategray 2px;
    border-left: dotted lightgreen 5px;
    font-family: 'Patrick Hand', cursive;
  }
  .five {
    grid-column: 3;
    grid-row: 2;
    border: solid darkslategray 2px;
    border-right: none;
    margin-left: 5px;
    font-family: 'Patrick Hand', cursive;
  }
  .six{
    grid-column: 4;
    grid-row: 2;
    border: solid darkslategray 2px;
    border-right: none;
    border-left: 0px;
    font-family: 'Patrick Hand', cursive;
  }
  .seven{
    grid-column: 5;
    grid-row: 2;
    border:none;
    border-left: 0px;
    font-family: 'Patrick Hand', cursive;
  }
  .eight{
    grid-column: 1;
    grid-row: 3;
    font-family: 'Patrick Hand', cursive;
  }
  .nine{
    grid-column: 2;
    grid-row: 3;
    font-family: 'Patrick Hand', cursive;
  }
  .ten{
    grid-column: 3;
    grid-row: 3;
    margin-left: 5px;
    font-family: 'Patrick Hand', cursive;
  }
  .eleven{
    grid-column: 4;
    grid-row: 3;
    font-family: 'Patrick Hand', cursive;
  }
  .twelve{
    grid-column: 5;
    grid-row: 3;
    font-family: 'Patrick Hand', cursive;
  }
  .thirteen{
    grid-column: 1;
    grid-row: 4;
    font-family: 'Patrick Hand', cursive;
  }
  .fourteen{
    grid-column: 2;
    grid-row: 4;
    font-family: 'Patrick Hand', cursive;
  }
  .fifteen{
    grid-column: 3;
    grid-row: 4;
    margin-left: 5px;
    font-family: 'Patrick Hand', cursive;
  }
  .sixteen{
    grid-column: 4;
    grid-row: 4;
    font-family: 'Patrick Hand', cursive;
  }
  .seventeen{
    grid-column: 5;
    grid-row: 4;
    font-family: 'Patrick Hand', cursive;
  }
  .eighteen{
    grid-column: 1;
    grid-row: 5;
    font-family: 'Patrick Hand', cursive;
  }
  .nineteen{
    grid-column: 2;
    grid-row: 5;
    font-family: 'Patrick Hand', cursive;
  }
  .twenty{
    grid-column: 3;
    grid-row: 5;
    margin-left: 5px;
    font-family: 'Patrick Hand', cursive;
  }
  .to{
    grid-column: 4;
    grid-row: 5;
    font-family: 'Patrick Hand', cursive;
  }
  .tt{
    grid-column: 5;
    grid-row: 5;
    font-family: 'Patrick Hand', cursive;
  }
  .ttr{
    grid-column: 1;
    grid-row: 6;
    font-family: 'Patrick Hand', cursive;
  }
  .tf{
    grid-column: 2;
    grid-row: 6;
    font-family: 'Patrick Hand', cursive;
  }
  .tfi{
    grid-column: 3;
    grid-row: 6;
    margin-left: 5px;
    font-family: 'Patrick Hand', cursive;
  }
  .ts{
    grid-column: 4;
    grid-row: 6;
    font-family: 'Patrick Hand', cursive;
  }
  .tse{
    grid-column: 5;
    grid-row: 6;
    font-family: 'Patrick Hand', cursive;
  }
  .te{
    grid-column: 1;
    grid-row: 7;
    font-family: 'Patrick Hand', cursive;
  }
  .tn{
    grid-column: 2;
    grid-row: 7;
    font-family: 'Patrick Hand', cursive;
  }
  .thirty{
    grid-column: 3;
    grid-row: 7;
    margin-left: 5px;
    font-family: 'Patrick Hand', cursive;
  }
  .thrityo{
    grid-column: 4;
    grid-row: 7;
    font-family: 'Patrick Hand', cursive;
  }
    
  .thirtyt{
    grid-column: 5;
    grid-row: 7;
    font-family: 'Patrick Hand', cursive;
  }
  .thirtyth{
    grid-column: 1;
    grid-row: 8;
    font-family: 'Patrick Hand', cursive;
    }
  .thirtyfo{
    grid-column: 2;
    grid-row: 8;
    font-family: 'Patrick Hand', cursive;
  }
  .thirtyfi{
    grid-column: 3;
    grid-row: 8;
    margin-left: 5px;
    font-family: 'Patrick Hand', cursive;
  }
  .thirtysi{
      grid-column: 4;
      grid-row: 8;
      font-family: 'Patrick Hand', cursive;
  }
  .thirtyse{
    grid-column: 5;
    grid-row: 8;
    font-family: 'Patrick Hand', cursive;
  }
  .thirtye{
    grid-column: 1;
    grid-row: 9;
    font-family: 'Patrick Hand', cursive;
  }
  .thirtyn{
    grid-column: 2;
    grid-row: 9;
    font-family: 'Patrick Hand', cursive;
  }
  .forty{
    grid-column: 3;
    grid-row: 9;
    margin-left: 5px;
    font-family: 'Patrick Hand', cursive;
  }
  .fortyo{
    grid-column: 4;
    grid-row: 9;
    font-family: 'Patrick Hand', cursive;
  }
  .fortyt{
    grid-column: 5;
    grid-row: 9;
    font-family: 'Patrick Hand', cursive;
  }
  .fortyth{
    grid-column: 1;
    grid-row: 10;
    font-family: 'Patrick Hand', cursive;
  }
  .fortyf{
    grid-column: 2;
    grid-row: 10;
    font-family: 'Patrick Hand', cursive;
  }
  .fortyfi{
    grid-column: 3;
    grid-row: 10;
    margin-left: 5px;
    font-family: 'Patrick Hand', cursive;
  }
  .fortys{
    grid-column: 4;
    grid-row: 10;
    font-family: 'Patrick Hand', cursive;
  }
  .fortyse{
    grid-column: 5;
    grid-row: 10;
    font-family: 'Patrick Hand', cursive;
  }
  .fortye{
    grid-column: 1;
    grid-row: 11;
    font-family: 'Patrick Hand', cursive;
  }
  .fortyn{
    grid-column: 2;
    grid-row: 11;
    font-family: 'Patrick Hand', cursive;
  }
  .fifty{
    grid-column: 3;
    grid-row: 11;
    margin-left: 5px;
    font-family: 'Patrick Hand', cursive;
  }
  .fiftyo{
    grid-column: 4;
    grid-row: 11;
    font-family: 'Patrick Hand', cursive;
  }
  .fiftyt{
    grid-column: 5;
    grid-row: 11;
    font-family: 'Patrick Hand', cursive;
  }
  .topnav {
    /*overflow: hidden;*/
    background-color: #e9e9e900;
    margin-top: 10px;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: rgb(185, 111, 111);
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  
  .topnav .search-container button:hover {
    background: brown;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }
.title{
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
a.button1{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  }
  a.button1:hover{
  color:#000000;
  background-color:#FFFFFF;
  }
  @media all and (max-width:30em){
   a.button1{
  display:block;
  margin:0.4em auto;
  }
  }
